* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: Arial, sans-serif;
}
input{
  background-color: white;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: white;
}

.izquierda{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.izquierda img {
  width: 600px;
}

.derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px;
}

form {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.logo {
  width: 60px;
  margin-bottom: 10px;
}

p {
  text-align: left;
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

a {
  color: #007bff;
  font-size: 12px;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
h3{
  color: black;
}
